.uppercase{ text-transform:upercase;
                    font-family:Calibri;
color:skyblue;
background-color:purple;
                  } 
.publish-time{color:white;}
.capitalize{text t-ransform:capitalize;}

.cursive{font-family:cursive;}
h2{ background-color:purple;}


.main-list{font-family:Arial;
                  color:rebeccapurple;
                 font-size:24px;
               }
.introduction{color:maroon;
                      font-family:monospace;
                      font-size:24px;
background-color:white;
                    }
h2{font-size:36px;
       color:lightblue; }
          
                         
 